  <footer class="footer">
    <div class="mouse">
      <div class="mouse__inner"></div>
    </div>
    <div class="container footer__container">
      <div class="footer__content">
        <h2 class="title footer__title">пишите для консультации</h2>
        <a href="mailto:{{ metadata.email }}" class="footer__mail">{{ metadata.email }}</a>
        <a href="{{ metadata.telegram }}" target="_blank" class="footer__telegram">telegram: <span>@maxdenaro</span></a>
        <nav class="nav footer__nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="/about/" class="nav__link">обо мне</a></li>
            <li class="nav__item"><a href="/code-review/" class="nav__link">код-ревью</a></li>
            <li class="nav__item"><a href="/devs/" class="nav__link">разработки</a></li>
            <li class="nav__item"><a href="{{ metadata.youtube }}" target="_blank" class="nav__link">youtube</a></li>
            <li class="nav__item"><a href="{{ metadata.blog }}" target="_blank" class="nav__link">блог</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>


</div>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>
