{% include 'header-404.njk' %}

<main class="main">
  <section class="not-found">
    <div class="container not-found__container">
      <h1 class="visually-hidden">Страница не найдена</h1>
      <div class="not-found__left">
        <div class="not-found__symbol">404</div>
        <p class="not-found__descr">
          упс...кажется, такой страницы не существует
        </p>
        <a href="/" class="not-found__download">На главную</a>
      </div>
      <img src="/assets/img/not-found.svg" class="not-found__image" aria-hidden="true" alt="">
    </div>
  </section>
  <div class="mouse">
    <div class="mouse__inner"></div>
  </div>
</main>
</div>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>
