{% include 'header-inner.njk' %}

<main class="main">
  <section class="hero about-hero">
    <div class="container hero__container">
      <div class="hero__text">
        <h1 class="hero__title">
          {{ greeting }}
        </h1>
        <p class="hero__descr">
          {{ descr }}
        </p>
      </div>
      <div class="contacts">
        <span class="contacts__text">для связи со мной:</span>
        <ul class="contacts__list">
          <li class="contacts__item"><a href="{{ metadata.telegram }}" target="_blank" class="contacts__link">telegram</a></li>
          <li class="contacts__item"><a href="{{ metadata.vk }}" target="_blank" class="contacts__link">vk</a></li>
          <li class="contacts__item"><a href="{{ metadata.whatsapp }}" target="_blank" class="contacts__link">whatsapp</a></li>
        </ul>
        <a href="mailto:{{ metadata.email }}" class="contacts__mail">{{ metadata.email }}</a>
      </div>
    </div>
  </section>

  <section class="use">
    <div class="container">
      <div class="title use__title">использую</div>
      <ul class="use__list grid">
        {% for use in collections.uses | reverse %}
          <li class="use__item">
            <h3 class="use__subtitle">{{ use.data.title }}</h3>
						{{use.data | consoleDump}}
            <ul class="use__sublist list">
              {% for item in use.data.contents %}
                <li class="list__item">{{ item }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>

{% include 'footer.njk' %}
